<section>
    @if (cartService.cart()?.items?.length! > 0) {
        <div class="flex w-full items-start gap-6 mt-32">
            <div class="w-full">
                @for (item of cartService.cart()?.items; track item.productId) {
                    <app-cart-item [item]="item"/>
                }
            </div>
            <div class="w-1/4">
                <app-order-summary/>
            </div>
        </div>
    } @else {
        <app-empty-state message="Your shop cart is empty" icon="filter_shopping_cart" actionText="Go To Shop" (action)="onAction()" />
    }
</section>